@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #FDF8EE;
    color: #000000;
    font-family: 'Inter', sans-serif;
}

.sidebar {
    position: relative;
    top: 50;
    transition: top 0.3s ease;
  }
  
  .sidebar.sticky {
    position: fixed;
    top: 50;
    z-index: 1;
    width: 200px; /* Adjust as needed */
  }
  